.logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
}

.logo-ling-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 910px;
    height: 540px;
    background-color:rgb(35, 37, 142);
}

.bg-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 720px;
    height: 410px;
    background-color: #ffffff;
}